<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  {{- if .IsPage -}}
    <link rel="stylesheet" type="text/css" href="/css/syntax.css">
    {{- partial "shortcodes-css.html" . -}}
  {{- end -}}
  <title>
    {{- if ne .Title .Site.Title -}}
      {{ .Title }}@
    {{- end -}}
    {{ .Site.Title }}
  </title>
  <body>
    <div class="fence{{if not (or .IsHome .IsPage)}}-list{{end}}">
    {{- partialCached "header.html" . -}}
    {{- block "main" . }}{{- end }}
    {{- partial "footer.html" . -}}
    </div>
    {{- if .IsPage -}}
      <script defer type="application/javascript" src="/js/norm.js"></script>
      {{- partial "shortcodes-js.html" . -}}
    {{- end -}}
  </body>
</html>
