{{- if .HasShortcode "label" -}}
<style>
.sc--lbM{color:#EEE;padding:0 4px;border-radius:4px;}
</style>
{{- end -}}
{{- if .HasShortcode "fold" -}}
<style>
.sc--fdM{display:flex;flex-wrap:wrap;}
.sc--fdT{border-bottom:1px solid #282828;padding:8px 5px;flex:1;}
.sc--fdB{border:1px solid #282828;border-bottom:0;padding:8px 5px;color:inherit;background:transparent;width:3rem;flex-shrink:1;}
.sc--fdC{border:1px solid #282828;border-top:0;padding:2px 4px;width:100%;}
</style>
{{- end -}}
{{- if .HasShortcode "tips" -}}
<style>
.sc--tpM{text-decoration:underline dotted #787800;}
</style>
{{- end -}}
{{- if .HasShortcode "timer" -}}
{{- end -}}
